.home-page-wrapper {
    height: calc(100vh - 112px);
    display: flex;
    align-items: center;
}

.home-page-content {
    height: 50%;
    width: 100%;
    display: flex;
    align-items: center;
}